.card__day1,
.card__day2 {
    margin: auto;
    width: 300px;
    height: 420px;
    background-color: #272d40;
    border-radius: 15px;
    padding: 20px 28px;
    color: white;
    position: relative;
}

.card__day2 {
    margin: 0 20px;
    width: 270px;
    height: 400px;
    background-color: #242628;
    text-align: center;
    overflow: hidden;
    padding: 0;
}